*concat_numpy/saved_frame_2
*concat_numpy/sliced_in_half
*concat_numpy/concat_numpy/test_name_2
*concat_numpy/poetry.lock
*concat_numpy/concat_numpy/video_pelotas_2023-01-11_00
*concat_numpy/concat_numpy/__pycache__